.font-size-xss {
    font-size: var(--v-font-size-xss);
}
.font-size-xs{
    font-size: var(--v-font-size-xs);
}
.font-size-sm{
    font-size: var(--v-font-size-sm);
}
.font-size-md{
    font-size: var(--v-font-size-md);
}
.font-size-lg{
    font-size: var(--v-font-size-lg);
}
.font-size-xl{
    font-size: var(--v-font-size-xl);
}
.font-size-2xl{
    font-size: var(--v-font-size-2xl);
}
.font-size-3xl{
    font-size: var(--v-font-size-3xl);
}
.font-size-4xl{
    font-size: var(--v-font-size-4xl);
}
.font-size-5xl{
    font-size: var(--v-font-size-5xl);
}
.font-size-6xl{
    font-size: var(--v-font-size-6xl);
}
.font-size-7xl{
    font-size: var(--v-font-size-7xl);
}
.font-size-8xl{
    font-size: var(--v-font-size-8xl);
}
.font-size-9xl{
    font-size: var(--v-font-size-9xl);
}

